In [28]:
# Package
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

allocine = pd.read_excel(r"C:\Users\maoui\OneDrive\Documents\Data Scientest\DTS - Projet\allocineV3-ND.xlsx")
allocine.head()

,ID,titre,titre_original,acteurs,acteur_1,acteur_2,acteur_3,acteur_4,realisateur,real_1,...,cumul_france,premiere_semaine_US,cumul_US,date2,annee,jour_split,mois_split,annee_split,day_of_week_split,year
0,1317,Vivre !,NaN,"Aymeric Cormerais, Jean-Jacques Le Vessier, Ga...",Aymeric Cormerais,Jean-Jacques Le Vessier,GaÃ«l Tanniou,Lydie WaÃ¯,Yvon Marciano,Yvon Marciano,...,3364.0,NaN,NaN,2009-10-07,2009.0,7.0,10.0,2009.0,2.0,2009.0
1,2314,La PassagÃ¨re,Pasazerka,"Anna Ciepielewska, Aleksandra Slaska, Jan Krec...",Anna Ciepielewska,Aleksandra Slaska,Jan Kreczmar,Marek Walczewski,"Andrzej Munk, Witold Lesiewicz",Andrzej Munk,...,2640.0,NaN,NaN,1964-10-28,1964.0,28.0,10.0,1964.0,2.0,2023.0
2,3239,The Lodger: A Story of the London Fog,NaN,"Marie Ault, Arthur Chesney, Reginald Gardiner,...",Marie Ault,Arthur Chesney,Reginald Gardiner,Alfred Hitchcock,Alfred Hitchcock,Alfred Hitchcock,...,1084.0,NaN,NaN,2010-11-17,2010.0,17.0,11.0,2010.0,2.0,2010.0
3,4389,Sao Bernardo,NaN,"Rodolfo Arena, Othon Bastos, Luiz Carlos Braga...",Rodolfo Arena,Othon Bastos,Luiz Carlos Braga,Josef Guerreiro,Leon Hirszman,Leon Hirszman,...,287.0,NaN,NaN,2014-06-11,2014.0,11.0,6.0,2014.0,2.0,2014.0
4,5134,El Otro Cristobal,NaN,"Jean Bouise, Alden Knight, Bertina Acevedo, Pi...",Jean Bouise,Alden Knight,Bertina Acevedo,Pierre Chaussat,Armand Gatti,Armand Gatti,...,1355.0,NaN,NaN,2019-09-18,2019.0,18.0,9.0,2019.0,2.0,2019.0

In [29]:
# Créer un nouveau DataFrame avec les colonnes ID et genres
allocine_genres = allocine.loc[:, ['ID', 'genres']]

# Afficher les premières lignes du nouveau DataFrame pour vérification
print(allocine_genres.head())

     ID              genres
0  1317  Comedie dramatique
1  2314               Drame
2  3239     Policier, Drame
3  4389               Drame
4  5134         Fantastique

In [30]:
# Liste des genres
genres_list = ['Action', 'Animation', 'Aventure', 'Biopic', 'Comedie', 'Comedie dramatique', 'Comedie musicale', 'Drame', 'Epouvante-horreur', 'Famille', 'Fantastique', 'Guerre', 'Historique', 'Musical', 'Policier', 'Romance', 'Science Fiction', 'Thriller', 'Western']

# Créer un DataFrame temporaire avec des variables indicatrices pour chaque genre
genre_dummies = allocine_genres['genres'].str.get_dummies(sep=', ')

# Sélectionner uniquement les colonnes correspondant aux genres de la liste
genre_dummies = genre_dummies[genres_list]

# Fusionner le DataFrame des variables indicatrices avec allocine_genres sur la colonne 'ID'
allocine_genres = pd.concat([allocine_genres['ID'], genre_dummies], axis=1)

allocine_genres.head()

,ID,Action,Animation,Aventure,Biopic,Comedie,Comedie dramatique,Comedie musicale,Drame,Epouvante-horreur,Famille,Fantastique,Guerre,Historique,Musical,Policier,Romance,Science Fiction,Thriller,Western
0,1317,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2314,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,3239,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
3,4389,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,5134,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0

In [31]:
# Enregistrer le DataFrame au format CSV
allocine_genres.to_csv(r'C:\Users\maoui\OneDrive\Documents\Data Scientest\DTS - Projet\allocine_genres.csv', index=False)