In [4]:
#///////////////////////
# realisateurs //////////////////////
#///////////////////////////////////////////
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import os
import re
import unicodedata
from unidecode import unidecode
os.chdir('D:\Sylvain\GitHub\Model-Cinema')
#***********************************************************************
df=pd.read_csv('Data/gg.csv', sep=';',index_col='ID')
df['actors_score']=df['actors_score'].replace(',','.',regex=True) 
df['directors_score']=df['directors_score'].replace(',','.',regex=True) 
df['scenaristes_score']=df['scenaristes_score'].replace(',','.',regex=True)
df['distrib_score']=df['distrib_score'].replace(',','.',regex=True)

df=df.astype({"actors_score":"float","directors_score":"float","scenaristes_score":"float","distrib_score":"float"
              ,"Action":"Int64","Animation":"Int64","Aventure":"Int64","Biopic":"Int64","Comedie":"Int64","Comedie dramatique":"Int64"
              ,"Comedie musicale":"Int64","Drame":"Int64","Epouvante-horreur":"Int64","Famille":"Int64","Fantastique":"Int64","Guerre":"Int64","Historique":"Int64","Musical":"Int64"
              ,"Policier":"Int64","Romance":"Int64","Science Fiction":"Int64","Thriller":"Int64"
              ,"Western":"Int64","jour_sortie":"Int64","mois_sortie":"Int64","duree":"Int64"})
df['Action'] = df['Action'].astype('Int64')
df = df.drop('annee_sortie', axis=1)

print(df.columns)
print(df.dtypes)
df = df.dropna(axis = 0, how = 'any')
df=df.rename({"Budget_dollards":"budget_dollars"},axis=1)
df.to_csv('Data/allocineV9-SB.csv')
df

Index(['actors_score', 'directors_score', 'scenaristes_score', 'distrib_score',
       'Action', 'Animation', 'Aventure', 'Biopic', 'Comedie',
       'Comedie dramatique', 'Comedie musicale', 'Drame', 'Epouvante-horreur',
       'Famille', 'Fantastique', 'Guerre', 'Historique', 'Musical', 'Policier',
       'Romance', 'Science Fiction', 'Thriller', 'Western', 'France', 'USA',
       'Angleterre', 'Autres', 'jour_sortie', 'mois_sortie',
       'day_of_week_sortie', 'note_presse', 'duree', 'premiere_semaine_france',
       'Budget_dollards'],
      dtype='object')
actors_score               float64
directors_score            float64
scenaristes_score          float64
distrib_score              float64
Action                       Int64
Animation                    Int64
Aventure                     Int64
Biopic                       Int64
Comedie                      Int64
Comedie dramatique           Int64
Comedie musicale             Int64
Drame                        Int64
Epouvante-horreur            Int64
Famille                      Int64
Fantastique                  Int64
Guerre                       Int64
Historique                   Int64
Musical                      Int64
Policier                     Int64
Romance                      Int64
Science Fiction              Int64
Thriller                     Int64
Western                      Int64
France                       int64
USA                          int64
Angleterre                   int64
Autres                       int64
jour_sortie                  Int64
mois_sortie                  Int64
day_of_week_sortie           int64
note_presse                float64
duree                        Int64
premiere_semaine_france      int64
Budget_dollards              int64
dtype: object

,actors_score,directors_score,scenaristes_score,distrib_score,Action,Animation,Aventure,Biopic,Comedie,Comedie dramatique,...,USA,Angleterre,Autres,jour_sortie,mois_sortie,day_of_week_sortie,note_presse,duree,premiere_semaine_france,budget_dollars
ID,,,,,,,,,,,,,,,,,,,,,
293378,0.135466,1.055201,0.000000,0.01473,0,0,0,0,1,0,...,0,0,0,20,4,2,2.0,99,228318,1
270572,0.455621,1.125524,0.141740,0.01495,1,0,0,0,0,0,...,0,0,1,10,1,3,3.1,171,10072,1
246253,0.559548,1.983822,0.978035,0.00998,0,0,0,0,0,0,...,0,0,0,31,5,2,3.5,76,23197,2
280918,0.632422,1.379569,0.437381,0.01664,0,0,0,0,1,0,...,0,0,0,22,6,2,1.5,85,55577,4
231408,0.649735,1.254194,0.271974,0.02973,0,0,0,0,0,0,...,1,0,0,14,12,2,4.5,138,108185,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111744,0.372773,1.221451,0.433328,0.02372,1,0,0,0,0,0,...,0,0,1,22,7,2,2.7,97,157707,300000000
57139,0.729245,1.570901,0.000000,0.01512,1,0,1,0,0,0,...,1,0,0,23,5,2,3.1,169,2709377,300000000
178014,0.572654,1.901868,0.967527,0.02489,1,0,1,0,0,0,...,1,0,0,14,12,2,4.1,192,2739848,350000000
57603,0.358044,0.139468,0.191709,0.01223,0,0,0,0,1,0,...,0,0,0,13,7,2,2.6,83,37434,392000000
53240,0.624337,1.422121,0.189914,0.02372,0,0,0,0,1,0,...,0,0,0,4,1,2,2.4,87,28087,820000000