In [6]:
#///////////////////////
# budgets //////////////////////
#///////////////////////////////////////////
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import os
import re
import unicodedata
from unidecode import unidecode
os.chdir('D:\Sylvain\GitHub\Model-Cinema')
#***********************************************************************
df=pd.read_csv('Data/Archives/budgets_films.csv', sep=";")
# # recupération des starmeter de Manon
df2 = pd.merge(df, allocineV6-ND, left_on = 'ID', right_on = 'ID', how='left')
print(df2.shape,' actors3')
df2

       Column1      ID    Budget_dollards
0          936   53240   820 000 000,0
1          400   29366   694 000 000,0
2          819   49758   531 000 000,0
3         1176   57603   392 000 000,0
4         3610  178014   350 000 000,0
...        ...     ...                ...
10869    10896  321044              -
10870    10898  322942              -
10871    10899  322948              -
10872    10900  323086              -
10873    10901  323712              -

[10874 rows x 3 columns]